
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Book Detail";
   
}



<h1>@ViewBag.SeriesTitle</h1>
<h3>Issue #@ViewBag.IssueNumber</h3>

<h4>Description:</h4>
<h5>@Html.Raw(ViewBag.Description)</h5>

@if (ViewBag.Artists.Length > 0)
{
<div>
    <h5>Artists:</h5>
    <div>
        <ul>
            @foreach (var artist in ViewBag.Artists)
            {
                <li>
                    @artist
                </li>

            }
        </ul>
    </div>
</div>

}
